<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://retrotv.app/TizenRetroTV"
        version="1.0.0"
        viewmodes="maximized">
    <tizen:application id="rEtr0tvApp.TizenRetroTV"
                       package="rEtr0tvApp"
                       required_version="5.5"/>
    <content src="index.html"/>
    <name>Retro TV</name>
    <icon src="assets/icons/icon-117.png"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable"/>
</widget>
